* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.infos {
  margin-top: 3rem;
  display: flex;
}

.info-left {
  width: 50%;
}

.titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 7rem;
  margin-left: 5rem;
  margin-bottom: 0.5rem;
  width: 30rem;
  font-size: 2.7rem;
}

.sobre {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 5rem;
}

.contato-b {
  background-color: rgb(54, 44, 42);
  color: white;
  margin-top: 1.5rem;
  margin-left: 5rem;
  width: 9rem;
  height: 3rem;
  border-radius: 10px;
  border: 0px solid white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.5s;
}

.contato-b:hover {
  background-color: rgb(81, 69, 66);
  transition: 0.5s;
}

.info-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 4rem;
  width: 50%;
}

/* IMAGENS */

.local-fotos {
  display: flex;
  margin-top: 10rem;
}

.img1 {
  width: 20%;
  margin: 1rem;
}

.img2 {
  width: 20%;
  margin: 1rem;
}

.img3 {
  width: 20%;
  margin: 1rem;
}