* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.servico-div {
    width: 12rem;
    border-radius: 10px;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 129, 126);
    /* margin-right: 7rem; */
    box-shadow: 0.5rem 0.5rem 1.5rem black;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    color: white;
}

.img {
    width: 90%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 720px){
    .servico-div {
        margin-bottom: 2rem;
    }

    .img {
        width: 90%;
        margin-bottom: 0.5rem;
    }
}