* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.servico-div {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 7rem; */
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
}

@media screen and (max-width: 720px){
    .servico-div {
        margin-bottom: 2rem;
    }

    .img {
        width: 90%;
        margin-bottom: 0.5rem;
    }
}